.app-Container{
  display: flex;
}

.Content{
  width: 100%;
}
.sidebar{
  min-height: 800px;
  min
}

.post-card{
  /* margin: 20px 50px; */
 
}

.hashtag{
  /* margin: 0px 3px; */
  
}
.reactions{
  /* margin: 15px 0 0 0; */
}
.create-post{
  /* width: 80%;
  margin-left: 10%;
  margin-top: 50px;
} */